.env
*.json
!appsettings.json
!appsettings.Development.json

[Bb]in/
[Oo]bj/
[Ex]e/
*.dll
*.pdb
*.exe

.idea/
*.sln.iml

.vs/
.vscode/
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db